@charset "utf-8";
/* CSS Document */
/*
============ SUMMARY ==============================================================================

$__header		Header Definitions
$__nav			Global Site Navigation
$__content		...


*/


/* --- Formulaires --- */

.form_line {
	margin:0 0 10px 0;
	overflow:hidden;
}

#abuse .form_line {
	margin:0 0 5px 0;
}


.input_txt {
	/*font-size:11px; originellement dans la charte*/
	border:1px solid #a6b2c8;
	
	display:inline-block;
	height:22px;
	line-height:22px;
	padding:0 2px;
	vertical-align:middle;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: inset 0px 1px 1px #e4e8ef;
	-moz-box-shadow: inset 0px 1px 1px #e4e8ef;
	box-shadow: inset 0px 1px 1px #e4e8ef; 
}

.input_checkbox {vertical-align:middle;}
textarea {font:12px/1.5 Arial,sans-serif;resize:none;}

.box_user_content textarea {width:100%;background-color:transparent;}

/* --- /Formulaires --- */


/* --- Search --- */
.search form {margin-bottom:4px;}

.search .input_txt {width:369px;margin:0 6px 0 0;font-size:14px;padding:0 6px;/*color:#888; originellement dans la charte*/}
.search .input_txt:focus {color:#000;}
.search .button {}
.search p {margin:0px 0 0 0;}
.search p a {color:#888;font-size:11px;}
/* --- /Search --- */


/* --- Filterdrop --- */
.filterdrop {
	display:inline-block;
	height:32px;/* à virer : au profit des options*/
	position:relative;
	/*z-index:300;*/ 
	/* z-index commenté pour l'évol des filterby vers filterdrop --> effet de bord sur la page
	http://localhost:8080/betawebui/main.php?rub=fiche_serie&p=reviews_user&version=7.5
	Question : à quoi servait ce z-index 300 ? A priori : à rien.
	*/
	vertical-align:middle;
}

.cover-sheet-nav .filterdrop {
	vertical-align:top;
}


.filterdrop.small {height:23px;font-size:11px;}
.filterdrop.medium {height:27px;}
.filterdrop.large {height:32px;}

.filterdrop.disabled {
	position:relative;
}

.filterdrop.disabled > a,
.filterdrop..filterdrop_on.disabled > span {
	color:#888;
}

.filterdrop.disabled:after {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	content:'';
	display:block;
	background:#000;
 
	  /* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	  /* IE 5-7 */
	  filter: alpha(opacity=10);
	  /* Netscape */
	  -moz-opacity: 0.1;
	  /* Good browsers */
	  opacity: 0.1;
}
	
.filterdrop > a,
.filterdrop > span,
.filterdrop.filterdrop_on > span {

	background:#fff;/*for opera*/
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
	background: -moz-linear-gradient(top, #fff, #fff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff); /*for ie*/
	
	-webkit-box-shadow: 0px 1px 0 #eef1f5, 0 1px 1px #dbe0e9 inset;
	-moz-box-shadow: 0px 1px 0 #eef1f5, 0 1px 1px #dbe0e9 inset;
	box-shadow: 0px 1px 0 #eef1f5, 0 1px 1px #dbe0e9 inset;

	border: 1px solid #A6B2C8;
	box-shadow: 0 1px 1px #DBE0E9 inset;
	color: #000000;
	font-weight: 300;	
	
	border-radius: 2px 2px 2px 2px;
	cursor: pointer;
	display: block;
	font-family: Arial,sans-serif;
	line-height: 30px;
	height:30px;
	margin: 0;
	padding:0 36px 0 8px;
	outline: medium none;
	text-decoration: none;
	vertical-align: middle;
}

.filterdrop.filterdrop_chosen > span {
	background:none;
	filter:none;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color:#dc1034;
	border-color:transparent;
}


.filterdrop.filterdrop_on > span {cursor:auto;}

.filterdrop.small > a,
.filterdrop.small > span {line-height: 21px;	height:21px;}
.filterdrop.medium > a,
.filterdrop.medium > span {line-height: 25px;height:25px;}
.filterdrop.large > a,
.filterdrop.large > span {line-height: 30px;height:30px;}

.filterdrop.filterdrop_on > a,
.filterdrop.filterdrop_on > span {
	color:#dc1034;
}

.filterdrop > a > *,
.filterdrop.filterdrop_on > span > * {
	display: inline-block; 
	/*vertical-align: middle;*/
}

.filterdrop a i,
.filterdrop.filterdrop_on span i {
	display:block;
	position:absolute;	
}

.filterdrop.filterdrop_chosen > a > * {
	vertical-align: middle;
}

.filterdrop.filterdrop_chosen > a > i {
	display:inline-block;
	position:static;
}

.filterdrop a i {
	right:1px;
	top:1px;
	
	width:27px;
	height:30px;
	border-radius: 0 2px 0 0;
	border-left:1px solid #c0c8d6;
	
	background-color:#f5f6f8;
	background-image: url("img/sprite_picto.png");
	background-repeat: no-repeat;
	background-position: -8px -1356px;
	
	box-shadow: 0 1px 1px #DBE0E9 inset;	
}

.filterdrop.filterdrop_on span i {
	right:10px;
	top:9px;
	
	background-image: url("img/sprite_core.png");
	background-repeat: no-repeat;
	background-position: -153px -270px;
	cursor:pointer;
}

.filterdrop.small a i {height:21px;}
.filterdrop.medium a i {height:25px;}
.filterdrop.large a i {height:30px;}

.filterdrop.filterdrop_on span i {width:7px;height:7px;}



.filterdrop.small a i {background-position: -8px -1360px;}
.filterdrop.medium a i {background-position: -8px -1358px;}
.filterdrop.large a i {background-position: -8px -1356px;}

.subfilterdrop {
	background: none repeat scroll 0 0 #FFFFFF;
	left: 0;
	right:0;
	position: absolute;
	top: 31px;
	z-index: 300;
	font-size:11px;
	border:1px solid #c0c8d6;
	
	line-height:normal;
}

.filterdrop.small .subfilterdrop {top: 22px;}
.filterdrop.medium .subfilterdrop {top: 26px;}
.filterdrop.large .subfilterdrop {top: 31px;}


.filterdrop .stareval {
	margin:0 2px;
	vertical-align:middle;
	display:inline-block;
}

.filterdrop > a > .stareval {
	position:relative;
	top:-2px;
}

.filterdrop .subfilterdrop .stareval {margin:0 6px;}

.subfilterdrop ul li {
    font-size: 11px;
}

.subfilterdrop.bordered ul li {
	border-top:1px solid #c0c8d6;
}

.subfilterdrop.bordered ul li:first-child {	border-top:none;}

.subfilterdrop ul li > * {
	display:inline-block;
	vertical-align:middle;
}

.subfilterdrop ul li:hover{
	background:#f0f1f0;
}

.subfilterdrop ul li > * {
	display:block;
	padding: 8px;
	text-decoration:none;
}

.filterdrop.small .subfilterdrop ul li > * {padding: 3px 8px;}
.filterdrop.medium .subfilterdrop ul li > * {padding: 8px;}
.filterdrop.large .subfilterdrop ul li > * {padding: 8px;}

.subfilterdrop ul li > * > span:first-child {
	display:inline-block;
	width:90px;
}
/*
.subfilterdrop ul li > a > span:first-child {
	text-decoration:underline;
}
*/

.subfilterdrop ul li > span {
color: #888;
cursor: default;
}

.subfilterdrop ul li > a .stareval+span {
	text-decoration:none;
	color:#000;
}

.filterdrop_label{
	display:inline-block;
	/*line-height:32px;*/
	height:16px;
	vertical-align:middle;
	padding:8px 0;
}

.filterdrop_label{
	width:90px;
}

/* --- /Filterdrop --- */


/* --- Nouveau Formulaire inauguré avec les pages Social CRM - Critiques --- */
.form input[type="text"] {
	background:#fff;
	border:1px solid #c0c8d6;	
	-webkit-border-radius: 2px;
	border-radius: 2px;	
}

/*------------------ A supprimer dès le changement fait en HTML --------------------- */
.form .input_box {
	background:#fff;
	border:1px solid #c0c8d6;	
	-webkit-border-radius: 2px;
	border-radius: 2px;	
}
/*------------------ /A supprimer dès le changement fait en HTML --------------------- */

.form input[type="text"] {
	width:208px;
	color:#888;
	padding:0 10px;
}

.form input[type="text"]:focus {color:#000;}


.form .input_box_header {
	background:#e3e3e3;
	padding:4px;
	border-bottom:1px solid #c0c8d6;
}

.form textarea {
	width:100%;
}

/*------------------ A supprimer dès le changement fait en HTML --------------------- */
.form .input_box_inner {
	background:#fff;
	padding:10px;
	word-wrap:break-word;
}
/*------------------ /A supprimer dès le changement fait en HTML --------------------- */

.form input[type="text"] {
	height:30px;
	line-height:30px;
}
/* --- /Nouveau Formulaire inauguré avec les pages Social CRM - Critiques --- */