
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
    <title>Index Test</title>

    <link rel="stylesheet" media="all" href="../../skin/commons.min.css">
    <link rel="stylesheet" media="all" href="../../skin/modules.min.css">
    <link rel="stylesheet" media="all" href="../../sass/spritesmith/index.css">

<body>

  <ul>
    <li class="first"><a href="#">lien</a></li>
    <li><a href="#">lien</a></li>
    <li><a href="#">lien</a></li>
  </ul>

  <div class="extendstest">extend test</div>
  <a href="#"><i class="ico-facebook"></i></a>
  <i class="ico-facebook"></i>

</body>
</html>
