// scss file for font

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto/roboto-light-webfont.eot');
    src: url('fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto/roboto-light-webfont.woff') format('woff'),
         url('fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
         url('fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}